[submodule "f1tenth_gym"]
	path = f1tenth_gym
	url = https://github.com/avantgarda/f1tenth_gym.git
[submodule "f1tenth_racetracks"]
	path = f1tenth_racetracks
	url = https://github.com/f1tenth/f1tenth_racetracks
