# runtime directories from Linux in Docker
.bash_history
.cache
.config
.empty
__pycache__

# config file for VS Code settings
.vscode

# docker build log
dockerfile-build.log

# generated map files
maps/
centerline/

# tensorboard
*tensorboard

# monitor logging
tmp/

# weights and biases
wandb/
/train_test/
